*{
	padding:0; margin:0;
}
html, body{
	width: 100%;
	height: 100%;
	background-image: url(../image/second.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: top;
	text-align: center;
	font-family: "SimHei""Microsoft YaHei";
	font-size: 14px;
}
#main{
	width: 768px;
	/*高度80%仅在本机chrome测试，目的是为了把div#main高度撑起来，但有问题*/
	height: 80%;
	position: absolute;
	top: 20%;
	margin-left: 50%;
	left: -384px;
}
span{
	display: block;
	margin-bottom: 60px;
	color: #fff;
	font-size: 20px;
}
select{
	width: 176px;
	height: 48px;
	margin-left: 25px;
	margin-right: 25px;
	background-color: #fff;
	/*background-color: transparent;*/
	color: rgb(90,156,146);
	font-family: "SimHei""Microsoft YaHei";
	font-size: 16px;
	/*-webkit-appearance: none;*/
	/*opacity: 0.5;*/
}
option{
	/*background-color: transparent;*/
	/*filter：Alpha（opacity=50）*/
	/*opacity: 0.5;*/
}
option:selected{
	background-color: #fff;
}
div#choose{
	position: absolute;
	top: 80%;
	left: 50%;
}
button{
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	border: 0;
	cursor: pointer;
}

/*按钮被激活默认效果被禁止，具体式样有待完善*/
button:focus{
	outline: none;
}
button.cancel{
	/*margin-left: 120px;*/
	/*170是暂时，并未精确像素*/
	margin-left: -170px;
	/*margin-right: 60px;*/
	background-image: url(../image/3-1-2.png);
}
button.confirm{
	/*115是暂时，并未精确像素*/
	margin-left: 115px;
	background-image: url(../image/3-1-1.png);
}